{% include "header.html" %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Welcome to My World of Python Development!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hello! I'm <b>Shubham</b> a passionate Python developer dedicated to crafting efficient and scalable solutions.
                            With a strong foundation in programming and a keen eye for detail, I strive to deliver high-quality code
                            and innovative software applications.</p>
                        <h3 class="mt-5 mb-3"><u>My Journey</u></h3>
                            <ul>
                                <li><b>Background:</b> I hold a degree in <b>Electrical Engineering</b> and have been coding in Python for over 2 years.</li>
                                <li><b>Experience:</b> Throughout my career, I have worked on various projects, ranging from web applications to data analysis tools.</li>
                                <li><b>Technologies:</b> My expertise includes:
                                  <ul>
                                      <li><b>Web Frameworks:</b> Django, Flask</li>
                                      <li><b>Data Science:</b> Pandas, NumPy, Matplotlib</li>
                                      <li><b>APIs:</b> RESTful services, GraphQL</li>
                                      <li><b>Database Management:</b> PostgreSQL, MongoDB</li></ul>
                                </li>
                            </ul>
                        <h3 class="mt-5 mb-3"><u>My Philosophy</u></h3>
                        <p class="my-0">I believe in:</p>
                        <ul>
                            <li>Writing <b>clean and maintainable code.</b></li>
                            <li>Adopting best practices in software development.</li>
                            <li>Continuous learning and staying updated with the latest technologies.</li>
                        </ul>
                        <h3 class="mt-5 mb-3"><u>What I Offer</u></h3>
                        <ul>
                            <li><b>Custom Software Development:</b> Tailored solutions to meet your specific needs.</li>
                            <li><b>Consulting Services:</b> Expert advice on Python-related projects and technologies.</li>
                            <li><b>Code Review:</b> Ensuring your codebase is efficient and follows best practices.</li>
                        </ul>
                        <p>Let's Connect!</p>
                        <p>I am always eager to collaborate and share knowledge. Feel free to reach out if you have a project in mind or just want to chat about Python development.</p>
                        <p>Thank you for visiting my page, and I look forward to creating something amazing together!</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}