{% include "project-header.html" %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/project-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Resume Projects </h1>
          <h2 class="subheading">Projects listed in my resume</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
      <!-- Project -->
      <div class="post-preview">
          <h2 class="post-title">  </h2>
        <h3 class="post-subtitle"> <u>Images:</u> </h3>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-6">
           <img src="../static/assets/img/dailyprice.png" width="700" height="400">
             </div>
          </div>
          <br>
          <br>
           <div class="row justify-content-center">
              <div class="col-lg-6">
           <img src="../static/assets/img/allprices1.png" width="700" height="400">
             </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-6">
           <img src="../static/assets/img/allprices2.png" width="700" height="400">
             </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/regressionmodels.png" width="550" height="300">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/priceprediction.png" width="550" height="300">
             </div>
          </div>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-6">
           <img src="../static/assets/img/actualvspredicted.png" width="800" height="600">
             </div>
          </div>
          <br>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
            <!-- Project -->
      <div class="post-preview">
          <h2 class="post-title">  </h2>
          <h3 class="post-subtitle"> <u>Circuit Diagram:</u> </h3>
          <br>
                  <div class="row justify-content-center">
           <div class="col-lg-6">
           <img src="../static/assets/img/faultcircuit.jpg" width="600" height="400">
             </div>
          </div>
          <h3 class="post-subtitle"> <u>Images:</u> </h3>
          <br>
                   <div class="row justify-content-center">
           <div class="col-lg-6">
           <img src="../static/assets/img/faultproject.png" width="600" height="400">
             </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/faultresult1.png" width="500" height="300">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/faultresult2.png" width="500" height="300">
             </div>
          </div>
          <br>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
            <!-- Project -->
      <div class="post-preview">
          <h2 class="post-title">  </h2>
        <h3 class="post-subtitle"> <u>Images:</u> </h3>
          <br>
          <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/studyportalhome1.png" width="550" height="400">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/studyportalhome2.png" width="550" height="400">
             </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/register.png" width="550" height="400">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/login.png" width="550" height="400">
             </div>
          </div>
          <br>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
            <!-- Project -->
      <div class="post-preview">
        <h2 class="post-title"> Smart Solar Tracker with Power Monitoring </h2>
        <p>This project is a smart solar tracking system with integrated power monitoring, designed to optimize solar
          panel performance by ensuring continuous alignment with the sun. The smart tracker uses sensors to detect
          sunlight intensity and automatically adjusts the angle of the solar panel throughout the day, capturing the
          maximum possible sunlight. This real-time adjustment boosts energy generation efficiency by up to 30%
          compared to fixed solar panels.
        </p>
        <p>
          The system includes a power monitoring feature that measures and displays energy production, usage, and
          efficiency data. Users can view real-time statistics on energy output, analyze performance trends over time,
          and detect any issues with energy generation. This allows for proactive maintenance and more effective energy
          management, as well as potential cost savings by optimizing output.
        </p>
        <p>
          By merging sustainable energy production with smart technology, this project addresses the growing need for 
          efficient renewable energy solutions. The combination of solar tracking and power monitoring provides a 
          powerful, user-friendly approach to maximizing solar energy yield while enabling data-driven energy 
          management for residential and commercial applications.
        </p>
        <h3 class="post-subtitle"> <u>Circuit Diagram:</u> </h3>
       <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/tracker.jpg" width="500" height="400">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/monitoring.png" width="500" height="400">
             </div>
          </div><h3 class="post-subtitle"> <u>Images:</u> </h3>
          <br>
          <div class="row justify-content-center">
           <div class="col-lg-6 px-5">
           <img src="../static/assets/img/solar tracker img.jpg" width="300" height="300">
             </div>
              <div class="col-lg-6">
           <img src="../static/assets/img/solarresults.png" width="600" height="300">
             </div>
          </div>
      </div>
      <!-- Divider-->
      <hr class="my-4" />

      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >See other projects</a
        >
      </div>
    <br>
</div>

{% include "footer.html" %}
